
// 
.logo {
  display: inline-block;
  width: auto; 
  a, svg {
    display: block;
    width: auto; 
    height: 100%;
  }
}


// _header.scss
header.site-header {

  position: fixed;
  top: 0; left: 0; width: 100%;
  z-index: 10000;
  // opacity: 0.8;
  // border-bottom: 1px dotted #000;

  .header-inner {
    display: block;
    text-align: center;
  }

  .logo {
    position: relative;
    height: $header-height-xs - 10px;
    margin: 5px 0;
    z-index: 10;
  }

  .extras {
    position: absolute;
    top: 0; left: 0; width: 100%; height: $header-height-xs; 
    z-index: 9;
  }

  button.chat-now {
    display: none;
  }

  button.rent-now, button.menu-toggle {
    display: block;
    position: absolute;
    top: 0;
    margin: 0;
    background: transparent;
  }

  button.rent-now {
    top: 15px;
    left: 15px;
    border: 2px solid $color-brand-dark;
    font-size: 12px;
    line-height: 15px;
    width: 70px;
    height: auto;
    padding: 5px 5px 2px;
  }

  button.menu-toggle {
    border: none;
    padding: 24px 15px;
    width: 70px;
    height: 70px;
    right: 0;

    .label {
      display: block;
      width: 100%; height: 100%; 
      @include hide-text();
      background: url(../img/menu-icon.svg) no-repeat 50% 50%;
      background-size: contain;
    }
  }
}




/* Tablet Portrait */
@media only screen and (min-width: $width-sm-min) {

  header.site-header {

    .header-inner {
      @include clearfix();
    }
    .logo {
      float: left;
      display: block;
      margin: 10px 0;
      height: $header-height-sm - 20px;
    }
    .extras {
      position: relative;
      float: right;
      // width: 280px; 
      width: auto;
      height: $header-height-sm;
      padding: 0 40px;
      border-left: 2px solid $color-brand-dark;
      text-align: left;
    }

    button.rent-now {
      position: relative;
      top: auto;
      left: auto;
      width: auto;
      height: 50px;
      padding: 27px 20px 5px;
      border-top: none;
      font-size: inherit;
      margin: 0 40px 20px 0;
    }
    button.menu-toggle {
      position: absolute;
      width: 40px;
      height: 30px;
      padding: 0;
      top: 20px;
    }
    a.btn {
      display: inline-block;
      @include button-font-style;
    }
  }
}

/* Tablet Landscape */
@media only screen and (min-width: $width-md-min) {
  header.site-header {

    .logo {
      margin: 25px 0;
      height: $header-height-md - 50px;
    }
    .extras {
      height: $header-height-md;
      // padding: 0 70px 0 40px;
    }
    button.rent-now {
      height: 77px;
      padding-top: 54px;
    }
    button.menu-toggle {
      top: 47px;
    }

  }
}

/* Large Desktop */
@media only screen and (min-width: $width-lg-min) {

  // header.site-header {

  //   .logo {
  //     margin: 30px 0;
  //     height: $header-height-lg - 60px;
  //   }
  //   .extras {
  //     height: $header-height-lg;
  //     padding-top: 80px;
  //   }
  //   button.rent-now {
  //     padding-top: 51px;
  //   }
  //   button.menu-toggle {
  //     top: 23px;
  //   }
  // }

}

