// _layout.scss


* {
  box-sizing: border-box;
}


body {
  @include transition( background-color 0.6s $easeInOutCubic, color 0.6s $easeInOutCubic );
  position: relative;
  background: $color-brand-light;
  color: $color-brand-dark;
}

body > header {
  background-color: inherit;
  .logo path {
    @include transition( fill 0.6s $easeInOutCubic );
  }
}

body > .wrapper {
  position: relative;
  background-color: inherit;
}
body > .wrapper > main {
  position: relative;
}

.wrapper > main {
  @include transition( opacity 0.3s $easeOutCubic 0.6s );
  opacity: 1;
  background-color: inherit;
  &.new {
    opacity: 1;
    z-index: 2;
  }
  &.old {
    @include transition( opacity 0.2s $easeInCubic 0s );
    opacity: 0;
    z-index: 3;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
  }
}

body.transition-main {
  .wrapper > main {
    opacity: 0;
  }
}

body.name-home {
  background-color: $color-brand-light;
  color: $color-brand-dark; 
  header .logo path {
    fill: $color-brand-dark;
  }
}

body.name-home section.apartments,
body.name-apartments {
  background-color: $color-brand-dark;
  color: $color-brand-light;
  header .logo path {
    fill: $color-brand-light;
  }
}

body.name-home section.amenities,
body.name-home section.building-history,
body.name-building-history {
  background-color: $color-brand-brown;
  color: $color-brand-dark;
  header .logo path {
    fill: $color-brand-dark;
  }
}

body.name-home section.neighborhood,
body.name-neighborhood {
  background-color: $color-brand-light;
  color: $color-brand-dark; 
  header .logo path {
    fill: $color-brand-dark;
  }
}






// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// MAIN / ARTICLE
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

main > article {

  padding-top: 72px;

}




// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// BREAKPOINTS
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -


.break-container {
  display: block;
  padding-left: 15px;
  padding-right: 15px;

}


/* Tablet Portrait */
@media only screen and (min-width: $width-sm-min) {

  .break-container {
    width: $width-sm-min;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }

}

/* Tablet Landscape */
@media only screen and (min-width: $width-md-min) {

  .break-container {
    width: $width-md-min;
    padding-left: 20px;
    padding-right: 20px;
  }

}

/* Large Desktop */
@media only screen and (min-width: $width-lg-min) {

  .break-container {
    width: $width-lg-min;
    padding-left: 20px;
    padding-right: 20px;
  }

}


