// _layout.scss


* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  min-height: 100%;
}

body {
  @include transition( background-color 0.6s $easeInOutCubic, color 0.6s $easeInOutCubic );
  position: relative;
  background: $color-brand-light;
  color: $color-brand-dark;
}

body > header {
  background-color: inherit;
  .logo path {
    @include transition( fill 0.6s $easeInOutCubic );
  }
}

body > .wrapper {
  position: relative;
  background-color: inherit;
  min-height: 95vh;
}
body > .wrapper > main {
  position: relative;
}


body.name-home,
body.name-home section.apartments,
body.name-unit-type,
body.name-apartments,
body.name-home section.neighborhood,
body.name-neighborhood {
  background-color: $color-brand-light;
  color: $color-brand-dark; 
  header .logo path {
    fill: $color-brand-dark;
  }
}

body section.amenities,
body.name-home section.amenities,
body.name-home section.building-history,
body.name-building-history {
  background-color: $color-brand-brown;
  color: $color-brand-dark;
  header .logo path {
    fill: $color-brand-dark;
  }
}






// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// MAIN / ARTICLE
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

/** See /core/_header.scss for padding-top **/

main > article {
  min-height: 100%;
  padding-top: 60px;
}

body.name-home article > section {
  min-height: 90vh;
}



// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// BREAKPOINTS
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -


body > .wrapper > main {
  padding-top: 70px;
}

header.site-header {
  height: 70px;
}

.break-container {
  display: block;
  padding-left: 15px;
  padding-right: 15px;
}

.xs-hide { display: none; }
.xs-show { display: block; }



/* Tablet Portrait */
@media only screen and (min-width: $width-sm-min) {


  body > .wrapper > main {
    padding-top: 120px;
  }

  header.site-header {
    height: 120px;
  }

  .break-container {
    width: $width-sm-min;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .xs-hide { display: block; }
  .xs-show { display: none; }

}

/* Tablet Landscape */
@media only screen and (min-width: $width-md-min) {

  .break-container {
    width: $width-md-min;
    padding-left: 20px;
    padding-right: 20px;
  }

}

/* Large Desktop */
@media only screen and (min-width: $width-lg-min) {


  body > .wrapper > main {
    padding-top: 180px;
  }

  header.site-header {
    height: 180px;
  }

  .break-container {
    width: $width-lg-min;
    padding-left: 20px;
    padding-right: 20px;
  }

}


