// _main-transition.scss



.wrapper > main {
  opacity: 1;
  background-color: inherit;
  @include transition( opacity 0.4s $easeOutCubic 0.1s );
  &.new {
    opacity: 1;
    z-index: 3;
  }
  &.old {
    position: absolute;
    top: 0; left: 0; width: 100%;
    visibility: hidden;
    z-index: 3;
    width: 100%;
  }

}

body.transition-main {
  .wrapper > main {
    opacity: 0 !important;
  }
}