// _modal.scss
.overlay-container {

  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 10001;

  &:before {
    display: block;
    content : " ";
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: $color-modal-overlay;
  }

  .modal-wrapper {
    display: none;
    position: absolute;
    top: 50%; left: 50%;
    width: 95vw; 
    height: 95vh;
    margin: -47.5vh 0 0 -47.5vw;
    background: $color-brand-light;
    padding: 40px 20px;
    overflow: scroll;

    button.close {
      display: block;
      position: fixed;
      top: 2.5vh; 
      right: 2.5vw;
      svg path {
        fill: $color-brand-medium;
      }
    }
  }

  progress {
    // display: block;
    display: none;
    position: absolute;
    top: 50%; left: 50%;
    width: 50%; height: 50%;
    margin: -25% 0 0 -25%;
  }

  button.close {
    display: none;
    position: absolute;
    top: 0; right: 0;
    width: 40px; height: 40px; padding: 10px;
    margin: 0;
    border: none;
    background: none;
    z-index: 10003;

    svg {
      display: block;
      width: 100%; height: 100%;
      path {
        fill: $color-brand-light;
      }
    }
    span {
      display: block;
      @include hide-text;
      height: 0;
    }
  }


}


.modal-opening {
  .overlay-container {
    display: block;
    &:before {
      opacity: 0;
      @include transition( opacity 0.3s $easeInOutCubic );
    }
    .modal-wrapper {
      display: block;
      opacity: 0;
      top: 52%;
      @include transition( top 0.3s $easeInOutCubic, opacity 0.3s $easeInOutCubic );
    }
  }
}


.modal-open {
  .overlay-container {
    display: block;
    &:before {
      opacity: 1;
    }
    .modal-wrapper {
      display: block;
      opacity: 1;
      top: 50%;
    }
  }
}




/* Tablet Portrait */
@media only screen and (min-width: $width-sm-min) {

  .overlay-container {

    .modal-wrapper {

      $modal-width: $width-sm-min - (2 * $margins-sm);

      width: $modal-width; 
      height: 80vh;
      margin-top: -40vh;
      margin-left: - (0.5 * $modal-width);
      padding: 60px;

      button.close {
        display: none;
      }
    }
    button.close {
      display: block;
      width: 60px; height: 60px; padding: 15px;
    }
  }

}

/* Tablet Landscape */
@media only screen and (min-width: $width-md-min) {

  .overlay-container {

    .modal-wrapper {
      $modal-width: $width-md-min - (2 * $margins-md);
      width: $modal-width; 
      margin-left: - (0.5 * $modal-width);
    }
  }
}

/* Large Desktop */
@media only screen and (min-width: $width-lg-min) {

  .overlay-container {

    .modal-wrapper {
      $modal-width: $width-lg-min - (2 * $margins-lg);
      width: $modal-width; 
      margin-left: - (0.5 * $modal-width);
    }
  }

}
