// _amenities.scss

.amenities {

  padding-top: $top-padding-xs;

  .amenity-list-wrapper {
    display: block;
  }

  .amenity-list {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .amenity-item {
    width: 100%;
    padding: 0 0 20px;
  }

  .amenity-item h3 {
    margin-top: 0;
    padding-top: 16px;
    border-top: 2px solid $color-brand-medium;
  }

}

/* Tablet Portrait */
@media only screen and (min-width: $width-sm-min) {

  .amenities {

    padding-top: $top-padding-sm;

    .amenity-list {
      @include clearfix();
      margin: 0 -10px;
    }

    .amenity-item {
      width: 50%;
      float: left;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}


/* Tablet Landscape */
@media only screen and (min-width: $width-md-min) {

  .amenities {

    padding-top: $top-padding-md;
    
    .amenity-list {
      margin: 0 -15px;
    }

    .amenity-item {
      width: 1/3 * 100%;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
