

.gallery {

  .gallery-slides-wrapper {
    position: relative;
    overflow: hidden;
  }

  .gallery-slides {
    padding: 0; margin: 0;
    @include clearfix();

    &[data-count='2'] { width: 2 * 100%;
      .gallery-item { width: 1/2 * 100%; }
    }
    &[data-count='3'] { width: 3 * 100%;
      .gallery-item { width: 1/3 * 100%; }
    }
    &[data-count='4'] { width: 4 * 100%;
      .gallery-item { width: 1/4 * 100%; }
    }
    &[data-count='5'] { width: 5 * 100%;
      .gallery-item { width: 1/5 * 100%; }
    }
    &[data-count='6'] { width: 6 * 100%;
      .gallery-item { width: 1/6 * 100%; }
    }
    &[data-count='7'] { width: 7 * 100%;
      .gallery-item { width: 1/7 * 100%; }
    }
    &[data-count='8'] { width: 8 * 100%;
      .gallery-item { width: 1/8 * 100%; }
    }
    &[data-count='9'] { width: 9 * 100%;
      .gallery-item { width: 1/9 * 100%; }
    }
    &[data-count='10'] { width: 10 * 100%;
      .gallery-item { width: 1/10 * 100%; }
    }
    &[data-count='11'] { width: 11 * 100%;
      .gallery-item { width: 1/11 * 100%; }
    }
    &[data-count='12'] { width: 12 * 100%;
      .gallery-item { width: 1/12 * 100%; }
    }
    &[data-count='13'] { width: 13 * 100%;
      .gallery-item { width: 1/13 * 100%; }
    }
    &[data-count='14'] { width: 14 * 100%;
      .gallery-item { width: 1/14 * 100%; }
    }
    &[data-count='15'] { width: 15 * 100%;
      .gallery-item { width: 1/15 * 100%; }
    }
    &[data-count='16'] { width: 16 * 100%;
      .gallery-item { width: 1/16 * 100%; }
    }
    &[data-count='17'] { width: 17 * 100%;
      .gallery-item { width: 1/17 * 100%; }
    }
    &[data-count='18'] { width: 18 * 100%;
      .gallery-item { width: 1/18 * 100%; }
    }
    &[data-count='19'] { width: 19 * 100%;
      .gallery-item { width: 1/19 * 100%; }
    }
    &[data-count='20'] { width: 20 * 100%;
      .gallery-item { width: 1/20 * 100%; }
    }
  }

  .gallery-item {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    margin: 0; padding: 0;
  }

  .gallery-item:not([data-index="1"]) {
    .gallery-image-caption {
      display:none;
    }
  }

  .gallery-image-wrapper {
    position: relative;
    height: 0;
    padding: 0 0 50%;
  }

  .gallery-image {
    max-width: 100%;
    height: auto;
  }

  .gallery-image-caption {
    margin: 0;
  }

  .gallery-grid {
    display: none;
    @include clearfix();
    margin: 0 -10px;
    padding: 0;
  }

  .gallery-grid-item {
    display: block;
    float: left;
    width: 50%; margin: 0; padding: 0 10px;
  }

  .gallery-grid-link {
    display: block;
    position: relative;
    width: 100%; 
    line-height: 0;
    overflow: hidden; 
    // height: 0; padding; 0 0 100%;
  }

  .gallery-grid-img {
    display: block;
    width: 100%;
    height: 0;
    padding: 0;
    @include hide-text;
    background: no-repeat; 
    background-size: contain;
  }
}


.gallery.page-gallery {
  .gallery-slides-wrapper {
    padding-left: $margins-sm;
    padding-right: $margins-sm;
  }
}

.floorplan-gallery {
  .gallery-slides-wrapper {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .gallery-image-caption p.caption {
    font-size: 1em;
  }
}



/* Tablet Portrait */
@media only screen and (min-width: $width-sm-min) {

  .gallery.page-gallery {
    .gallery-slides-wrapper {
      max-width: $width-sm-min;
      padding-left: $margins-sm;
      padding-right: $margins-sm;
      margin: 0 auto;
    }
  }

  .gallery {


    .gallery-grid {
      display: block;
      
      &[data-count='2'] {
        .gallery-grid-item { width: 1/2 * 100%; }
      }
      &[data-count='3'], &[data-count='6'], &[data-count='9'] {
        .gallery-grid-item { width: 1/3 * 100%; }
      }
      &[data-count='4'], &[data-count='7'], &[data-count='8'] {
        .gallery-grid-item { width: 1/4 * 100%; }
      }
      &[data-count='5'], &[data-count='10'] {
        .gallery-grid-item { width: 1/5 * 100%; }
      }
    }

    .gallery-grid-item {

    }

    .gallery-grid-link {

    }

  }

}

/* Tablet Landscape */
@media only screen and (min-width: $width-md-min) {

  .gallery.page-gallery {

    .gallery-slides-wrapper {
      max-width: $width-md-min;
      padding-left: $margins-md;
      padding-right: $margins-md;
    }

  }

  .gallery {

    .gallery-grid {

    }

    .gallery-grid-item {

    }

    .gallery-grid-link {

    }

  }

}

/* Large Desktop */
@media only screen and (min-width: $width-lg-min) {

  .gallery.page-gallery {

    .gallery-slides-wrapper {
      max-width: $width-lg-min;
      padding-left: $margins-lg;
      padding-right: $margins-lg;
    }

  }

  .gallery {

    .gallery-grid {

    }

    .gallery-grid-item {

    }

    .gallery-grid-link {

    }

  }

}
