
.gallery {

  padding-bottom: $margins-xs;

  .gallery-slides-wrapper {
    position: relative;
    overflow: hidden;
    // top: 0;
  }

  .gallery-slides:not( .touch-event ) {
    @include transition( transform 0.5s $easeInOutCubic, margin-left 0.5s $easeInOutCubic  );
  }

  .gallery-slides {
    padding: 0; margin: 0;
    @include clearfix();

    &[data-count='2'] { width: 2 * 100%;
      .gallery-item { width: 1/2 * 100%; }
    }
    &[data-count='3'] { width: 3 * 100%;
      .gallery-item { width: 1/3 * 100%; }
    }
    &[data-count='4'] { width: 4 * 100%;
      .gallery-item { width: 1/4 * 100%; }
    }
    &[data-count='5'] { width: 5 * 100%;
      .gallery-item { width: 1/5 * 100%; }
    }
    &[data-count='6'] { width: 6 * 100%;
      .gallery-item { width: 1/6 * 100%; }
    }
    &[data-count='7'] { width: 7 * 100%;
      .gallery-item { width: 1/7 * 100%; }
    }
    &[data-count='8'] { width: 8 * 100%;
      .gallery-item { width: 1/8 * 100%; }
    }
    &[data-count='9'] { width: 9 * 100%;
      .gallery-item { width: 1/9 * 100%; }
    }
    &[data-count='10'] { width: 10 * 100%;
      .gallery-item { width: 1/10 * 100%; }
    }
    &[data-count='11'] { width: 11 * 100%;
      .gallery-item { width: 1/11 * 100%; }
    }
    &[data-count='12'] { width: 12 * 100%;
      .gallery-item { width: 1/12 * 100%; }
    }
    &[data-count='13'] { width: 13 * 100%;
      .gallery-item { width: 1/13 * 100%; }
    }
    &[data-count='14'] { width: 14 * 100%;
      .gallery-item { width: 1/14 * 100%; }
    }
    &[data-count='15'] { width: 15 * 100%;
      .gallery-item { width: 1/15 * 100%; }
    }
    &[data-count='16'] { width: 16 * 100%;
      .gallery-item { width: 1/16 * 100%; }
    }
    &[data-count='17'] { width: 17 * 100%;
      .gallery-item { width: 1/17 * 100%; }
    }
    &[data-count='18'] { width: 18 * 100%;
      .gallery-item { width: 1/18 * 100%; }
    }
    &[data-count='19'] { width: 19 * 100%;
      .gallery-item { width: 1/19 * 100%; }
    }
    &[data-count='20'] { width: 20 * 100%;
      .gallery-item { width: 1/20 * 100%; }
    }
  }

  .gallery-item {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    margin: 0; 
    padding: 0 $margins-xs;
  }

  .gallery-image-wrapper {
    position: relative;
    height: 0;
    padding: 0 0 50%;
  }

  .gallery-image {
    max-width: 100%;
    height: auto;
  }

  .gallery-image-caption {
    margin: 0;
    opacity: 0;
    visibility: none;
    @include transition( opacity 0.2s $easeOutCubic );
  }
  .gallery-slides:not( .touch-event ) {
    .gallery-item.active .gallery-image-caption {
      opacity: 1;
    }
  }

  .gallery-grid {
    display: none;
    @include clearfix();
    margin: 0 -10px;
    padding: 0;
  }

  .gallery-grid-item {
    display: block;
    float: left;
    width: 50%; margin: 0; padding: 0 10px;
  }

  .gallery-grid-link {
    display: block;
    position: relative;
    width: 100%; 
    line-height: 0;
    overflow: hidden; 
    // height: 0; padding; 0 0 100%;
  }

  .gallery-grid-img {
    display: block;
    width: 100%;
    height: 0;
    padding: 0;
    @include hide-text;
    background: no-repeat; 
    background-size: contain;
  }

  .ui-wrapper {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 0;
    padding-left: inherit;
    padding-right: inherit;
    padding-bottom: 52%;
    @include clearfix;
    pointer-events: none;

    .advance {
      display: block;
      pointer-events: auto;
      position: absolute;
      background: transparent;
      border: none;
      width: 40px;
      height: 40px;
      top: 50%;
      margin-top: -20px;
      @include hide-text;

      &:active, &:focus {
        outline: none;
      }
    }
    .next {
      right: 0;
      svg {
        @include transform( rotate(-90deg) );
      }
    }
    .prev {
      left: 0;
      svg {
        @include transform( rotate(90deg) );
      }
    }
    svg {
      pointer-events: none;
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
    }
    svg .circle, 
    svg .triangle {
      .border {
        fill: $color-brand-dark;
      }
      .fill {
        fill: rgba( $color-brand-light, 0.1 );
      }
    }
  }

  &.first-index .ui-wrapper .prev {
    display: none;
  }
  &.last-index .ui-wrapper .next {
    display: none;
  }
}




/* Tablet Portrait */
@media only screen and (min-width: $width-sm-min) {


  .gallery {
    padding-bottom: $margins-sm;

    .gallery-item {
      padding: 0 $margins-sm;
    }


    .gallery-grid {
      display: block;
      
      &[data-count='2'] {
        .gallery-grid-item { width: 1/2 * 100%; }
      }
      &[data-count='3'], &[data-count='6'], &[data-count='9'] {
        .gallery-grid-item { width: 1/3 * 100%; }
      }
      &[data-count='4'], &[data-count='7'], &[data-count='8'] {
        .gallery-grid-item { width: 1/4 * 100%; }
      }
      &[data-count='5'], &[data-count='10'] {
        .gallery-grid-item { width: 1/5 * 100%; }
      }
    }

    .gallery-grid-item {

    }

    .gallery-grid-link {

    }

  }

}

/* Tablet Landscape */
@media only screen and (min-width: $width-md-min) {

  .gallery.page-gallery {

    .gallery-slides-wrapper {
      // max-width: $width-md-min;
      // padding-left: $margins-md;
      // padding-right: $margins-md;
    }

  }

  .gallery {

    .gallery-grid {

    }

    .gallery-grid-item {

    }

    .gallery-grid-link {

    }

  }

}

/* Large Desktop */
@media only screen and (min-width: $width-lg-min) {

  .gallery.page-gallery {

    .gallery-slides-wrapper {
      // max-width: $width-lg-min;
      // padding-left: $margins-lg;
      // padding-right: $margins-lg;
    }

  }

  .gallery {

    .gallery-grid {

    }

    .gallery-grid-item {

    }

    .gallery-grid-link {

    }

  }

}
