
nav.unit-type-sections,
nav.unit-type-nav {


  display: block;
  width: 100%; 
  height: auto;
  background: transparent;
  margin-bottom: 30px;

  ul, .unit-type-list {
    display: block;
    padding: 0;
    margin: 0;
  }
 
  li, .unit-type-list li {
    margin: 0;
    padding: 0 0 10px; 
    list-style: none;
  }

  a, .unit-type-link {
    display: block;
    width: 100%;
    height: auto;
    margin: 10px 0 0;
    // padding: 0 0 2px 2px;
    //padding-bottom: 5px;
    text-decoration: none;
    text-align: center;
    background: $color-brand-brown;
    color: $color-brand-dark;
    border: 2px solid $color-brand-dark;

    &:first-child {
      margin-top: 0;
    }
  }

  .label {
    display: block;
    width: 100%;
    height: 100%;
    padding: 12px 20px 7px;
    vertical-align: middle;

    @include button-font-style();
    font-weight: 900;
    line-height: 23px;
    background: transparent;

  }
}


nav.unit-type-nav .unit-type-link.active, 
.studio nav.unit-type-nav .unit-type-link[href$="studio"],
.one-bedroom nav.unit-type-nav .unit-type-link[href$="one-bedroom"],
.one-bedroom-den nav.unit-type-nav .unit-type-link[href$="one-bedroom-den"],
.two-bedroom nav.unit-type-nav .unit-type-link[href$="two-bedroom"],
.two-bedroom-office nav.unit-type-nav .unit-type-link[href$="two-bedroom-office"] {
  color: $color-brand-brown;
  .label {
    background: $color-brand-dark;
  }
}



/* Tablet Portrait */
@media only screen and (min-width: $width-sm-min) {

  nav.unit-type-sections,
  nav.unit-type-nav {

    display: block;
    width: 100%;
    height: 90px;

    ul, .unit-type-list {
      display: table;
      height: 100%;
      background: $color-brand-dark;
    }

    li, .unit-type-list li {
      display: table-cell;
      vertical-align: middle;
      height: 100%;
      width: 20%;
      padding: 0;
    }

    a, .unit-type-link {
      display: table;
      width: 100%; height: 100%; 
      margin: 0; 
      padding: 0 0 0 2px;
      float: left;
      vertical-align: top;
      background: $color-brand-dark;
      border: none;
    }

    li:first-child a, 
    .unit-type-list li:first-child .unit-type-link {
      padding-left: 0;
    }

    .label {
      line-height: 20px;
      display: table-cell;
      padding: 0 20px;
      background: $color-brand-brown;
    }
  }

  nav.unit-type-sections {

    margin: 60px 0;
    height: 60px;

  }
}

/* Tablet Landscape */
@media only screen and (min-width: $width-md-min) {

  nav.unit-type-nav {

    height: 108px;
    margin-bottom: 60px;

    .label {
      font-size: 20px;
      line-height: 22px;
    }
  }

}

