

nav.unit-type-nav {


  display: block;
  width: 100%; 
  height: auto;
  border: 0 solid $color-brand-dark;
  border-width: 0 1px;

  .unit-type-list, li {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
  }
 
  .unit-type-list li {
    padding: 0 0 10px; 
  }

  .unit-type-link {
    display: block;
    width: 100%;
    height: auto;
    margin: 10px 0 0;
    padding: 0 0 2px 2px;
    //padding-bottom: 5px;
    text-decoration: none;
    text-align: center;
    background: $color-brand-brown;
    color: $color-brand-dark;
    border: 2px solid $color-brand-dark;
    border-width: 2px 1px;

    &:first-child {
      margin-top: 0;
    }
  }

  .label {
    display: block;
    width: 100%;
    height: 100%;
    padding: 12px 20px 5px;
    vertical-align: middle;

    @include button-font-style();
    font-weight: 900;
    line-height: 23px;
    background: transparent;

  }
}



/* Tablet Portrait */
@media only screen and (min-width: $width-sm-min) {

  nav.unit-type-nav {

    display: block;
    width: 100%;
    height: 108px;

    .unit-type-list {
      @include clearfix;
      height: 100%;
    }
    .unit-type-list li {
      float: left;
      width: 20%;
      height: 100%;
    }

    .unit-type-link {
      display: table;
      width: 100%; height: 100%; 
      margin: 0; padding: 0;
      float: left;
      vertical-align: top;
    }

    .label {
      display: table-cell;
    }

  }



}
