

nav.unit-type-nav {


  display: block;
  width: 100%; 
  height: auto;
  border: 0 solid $color-brand-dark;
  border-width: 0 1px;

  .unit-type-link {
    display: block;
    width: 100%;
    height: auto;
    margin: 10px 0 0;
    padding: 0 0 2px 2px;
    //padding-bottom: 5px;
    text-decoration: none;
    text-align: center;
    background: $color-brand-brown;
    color: $color-brand-dark;
    border: 2px solid $color-brand-dark;
    border-width: 2px 1px;
    font-size: 20px;

    &:first-child {
      margin-top: 0;
    }
  }

  .label {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    vertical-align: middle;
    text-transform: uppercase;
    background: transparent;
  }
}



/* Tablet Portrait */
@media only screen and (min-width: $width-sm-min) {

  nav.unit-type-nav {

    display: block;
    height: 108px;
    width: 100%;
    padding: 0 1px 0 0;
    @include clearfix;

    .unit-type-link {
      display: table;
      width: 20%;
      height: 100%; margin: 0; padding: 0 0 0 1px;
      float: left;
      vertical-align: top;
    }

    .label {
      display: table-cell;
    }

  }



}
